# --- PYTHON BASICS ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.log

# --- ENVIRONMENTS ---
.venv/
venv/
env/
ENV/
*.env

# --- JUPYTER NOTEBOOKS ---
.ipynb_checkpoints/

# --- DATA FILES (important) ---
data/
!data/.gitkeep
datasets/
!datasets/.gitkeep

# --- KDB+/Q FILES ---
/kx/*
!/kx/README.md


# --- RESULTS / REPORTS ---
reports/
logs/
outputs/
cache/

# --- OS FILES ---
.DS_Store
Thumbs.db
